*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#challenge{
  font-size: 8rem;
  padding: 10%;
}

#change{
  font-size: 2rem;
  padding: 3% 10%;
}